<link rel="stylesheet" href="/stylesheets/_footer.css" />
<footer>
  <p class="sign-off">
    All rights Reserved &copy; <%= new Date().getFullYear() %>. EcoVolt
  </p>

  <div class="socials">
    <a href="#"><ion-icon name="logo-whatsapp"></ion-icon>+254796853335</a>
    <a href="#"><ion-icon name="logo-facebook"></ion-icon>EcoVolt_Official</a>
    <a href="#"><ion-icon name="logo-twitter">EcoVolt</ion-icon>EcoVolt</a>
  </div>
  <div class="services">
    <a href="/Home"> Home</a>
    <a href="/About">About</a>
    <a href="/Learning_Centre">Learning Centre</a>
    <a href="/projects">Projects</a>
  </div>
  <div class="Quote">
    <h2>Go Green Today!</h2>
    <button><a href="/Quote">Get a Quote</a></button>
  </div>
</footer>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
