<link rel="stylesheet" href="/stylesheets/nav.css" />
<nav class="navigation">
  <a href="/Home"> Home</a>
  <a href="/About">About</a>
  <a href="/Learning_Centre">Learning Centre</a>
  <a href="/Testimonials">Testimonials</a>
  <a href="/login">Login</a>
  <a href="/SignUp">SignUp</a>
  <a href="/ContactUs">Contact Us</a>
</nav>