<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>EcoVolt: Powering a Sustainable Future</title>
    <link rel="stylesheet" href="stylesheets/home.css" />
  </head>

  <body>
    <!-- //put the image without the background -->
    <nav><%- include("_nav.ejs") %></nav>

    <main>
      <div class="intro">
        <h3>WELCOME TO ECOVOLT</h3>
        <h1>Go Green, Live Green: 100% Renewable Energy</h1>
        <p>
          Live green starts at home. Choose 100% renewable energy to power your
          home and reduce your environmental impact. Together, let's create a
          healthier planet for generations to come.
        </p>
        <button class="intro"><a href="#Get a Quote">Get a Quote</a></button>
        <button><a href="#benefits">Discover More</a></button>
      </div>
    </main>
  </body>
</html>
