<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>EcoVolt: Powering a Sustainable Future</title>
    <link rel="stylesheet" href="stylesheets/shop.css" />
  </head>

  <!-- //put the image without the background -->
  <nav><%- include("_nav.ejs") %></nav>
  <header>
    <div class="intro"></div>
    <nav class="product-categories">
      <h1>Get All Your Power Needs</h1>

      <!-- <ul>
        <li><a href="#energy-generation">Energy Generation</a></li>
        <li><a href="#energy-storage">Energy Storage</a></li>
        <li><a href="#energy-management">Energy Management</a></li>
      </ul> -->
      <img src="" alt="" />
    </nav>
  </header>

  <body>
    <section>
      <section id="energy-generation">
        <h2>Energy Generation</h2>
        <ul class="product-list">
          <li>
            <img src="images/solarpanel1.jpg" alt="Solar Panel" />
            <a
              href="product.html?category=energy-generation&product=solar-panels"
              >Solar Panels</a
            >
            <button class="cart-button">
              KES 50,000 <span>Add to Cart</span>
            </button>
          </li>
          <li>
            <img src="images/Inverters2.jpg" alt="Inverters" />
            <a href="product.html?category=energy-generation&product=inverters"
              >Inverters</a
            >
            <button class="cart-button">
              KES 50,000 <span>Add to Cart</span>
            </button>
          </li>
        </ul>
      </section>
      <section id="energy-storage">
        <h2>Energy Storage</h2>
        <ul class="product-list">
          <li>
            <img src="images/Battery1.jpg" alt="Batteries" />
            <a href="product.html?category=energy-storage&product=batteries"
              >Batteries</a
            >
            <button class="cart-button">
              KES 50,000 <span>Add to Cart</span>
            </button>
          </li>
          <li>
            <img src="images/BackUpSytem2.jpg" alt="BackUp Systems" />
            <a href="product.html?product=home-battery-backup"
              >Home Battery Backup Systems</a
            >
            <button class="cart-button">
              KES 50,000 <span>Add to Cart</span>
            </button>
          </li>
        </ul>
      </section>
      <section id="energy-management">
        <h2>Energy Management</h2>
        <ul class="product-list">
          <li>
            <img
              src="images/Evccharging1.jpg"
              alt="Electric Vehicle Charging"
            />
            <a
              href="product.html?category=energy-management&product=ev-chargers"
              >EV Chargers</a
            >
            <button class="cart-button">
              KES 50,000 <span>Add to Cart</span>
            </button>
          </li>
          <li>
            <img src="images/smartpowerstrips1.jpg" alt="Smart Power Strips" />
            <a href="product.html?product=smart-power-strips"
              >Smart Power Strips</a
            >
            <button class="cart-button">
              KES 50,000 <span>Add to Cart</span>
            </button>
          </li>
        </ul>
      </section>
    </section>
  </body>
</html>
