/* Basic reset styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background-color: #08c06a;
}
nav a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  size: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main Section Styles */
main {
  padding: 2rem;
}

.intro {
  margin-top: 50px;
  text-align: center;
}

.intro h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.intro p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.intro button {
  background-color: #08c06a;
  color: white;
  padding: 15px 25px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.intro button a {
  color: white;
  text-decoration: none;
}

/* Buttons can have a hover effect to make them more interactive */
.header button:hover,
.intro button:hover {
  background-color: #c7a55e; /* darker green on hover */
}
.call-to-action {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
  z-index: 10; /* Ensure the button stays on top */
}

#start-test {
  background-color: #28a745; /* Green color */
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em; /* Reduce font size */
  font-weight: bold; /* Make text bolder */
}

#start-test:hover {
  background-color: #1e823c; /* Darker green on hover */
}
