html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  position: relative; /* Needed for absolute positioning */
  height: 100vh; /* Set body height to 100% viewport height */
  margin: 0; /* Remove default body margin */
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #08c06a;
}
nav a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  size: 20px;
}
.product-categories {
  display: flex; /* Arrange navigation items horizontally */
  justify-content: start; /* Distribute items evenly */
  flex-wrap: wrap;
  padding: 10px; /* Add some padding for spacing */
  background-color: white; /* Light background color */

  margin-right: 100px;
}

.product-categories ul {
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin-bottom: 20px;
}

.product-categories li {
  padding: 20px;
  margin-right: 20px; /* Add space between list items */
  margin-bottom: 20px;
}

.product-categories li:last-child {
  /* Remove margin for the last item */
  margin-right: 0;
}

.product-categories a {
  color: #333; /* Text color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make links bold for emphasis */
  padding: 10px 20px; /* Add padding for click target area */
  transition: background-color 0.2s ease-in-out; /* Add hover effect */
}

.product-categories a:hover {
  background-color: #08c06a; /* Light background color on hover */
}

main {
  padding: 40px 20px;
}

.container {
  width: 80%;
  margin: 0 auto; /* Center content */
}

.product-list h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.product-list li {
  width: 30%; /* Adjust width as needed */
  margin-bottom: 20px;
  text-align: center;
}

.product-list a {
  color: #08c06a; /* Green link color to match branding */
  text-decoration: none;
  display: block;
  padding: 10px 0;
  transition: color 0.2s ease-in-out;
}

.product-link:hover {
  color: #07a55f; /* Darker green on hover */
}
.product-list img {
  max-width: 100%; /* Ensure image doesn't exceed link width */
  height: auto; /* Maintain image aspect ratio */
  object-fit: cover; /* Resize image to fill container while maintaining aspect ratio, cropping if necessary */
  display: block; /* Treat image as a block element for full-width display within the link */
  margin-bottom: 10px; /* Add some space below the image */
}
