body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #08c06a;
}
nav a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  size: 20px;
}
#profile {
  margin-left: 500px;
}
h1 {
  text-align: center;
  margin-bottom: 5px;
}

p {
  text-align: center;
  color: #666;
}

form {
  /* max-width: 500px;
  margin: 50px auto; */
  padding: 20px;
  margin-top: 0px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="confirmPass"],
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  resize: vertical;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  display: block;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
